---
import background from '../assets/background.svg';
import '../styles/styles.css';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<h1>
				Portfolio
			</h1>
			<section id="links">
				<a class="button" href="">Continue</a>
				
			</section>
		</section>
	</main>
</div>
