---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/navbar.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
  </head>
  <body>
    <img id="background" src="/src/assets/background.svg" alt="" fetchpriority="high" />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
